# Node
node_modules/

# Build output
dist/
build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env*

# VSCode
.vscode/

# macOS
.DS_Store

# Coverage
coverage/

# IDEs
.idea/

.local
count.txt
.env
.nitro
.tanstack
